<div>
  <%= partial 'backups/form', locals: { url: "/backups", update: false, submit_text: 'Create' } %>

  <% current_user.backups.each do |backup| %>
    <ul>
      <li>
        <h2>
          <%= backup.ssh_user %>@<%= backup.host %> with database <%= backup.db_name %>
          <a href="/backups/<%= backup.id %>/edit">Edit</a>
        </h2>
        <div>
          Latest backup: <%= backup.latest.key if backup.latest %>
        </div>
        <div>
          <% form_tag("/backups/#{backup.id}/perform") { submit_tag "Backup" } %>
          <% form_tag("/backups/#{backup.id}/restore") { submit_tag "Restore" } %>
          <% form_tag("/backups/#{backup.id}") do %>
            <%= hidden_form_method_field("delete") %> 
            <%= submit_tag "Delete" %>
          <% end %>  
        </div>
      </li>
    </ul>
  <% end %>
</div>