<div>
  <%= partial 'backups/form', locals: { url: "/backups", update: false, submit_text: 'Create' } %>

  <% current_user.backups.each do |backup| %>
    <ul>
      <li>
        <h2>
          <%= backup.ssh_user %>@<%= backup.host %> with database <%= backup.db_name %>
          <a href="/backups/<%= backup.id %>/edit">Edit</a>
        </h2>
        
        <% if backup.latest %>
          Latest dump: <a href="<%= backup.latest.public_url %>">...xxx</a> 
        <% end %>

        <form method="post" action="/backups/<%= backup.id %>/perform">
          <button type="submit">Backup</button>
        </form>

        <form method="post" action="/backups/<%= backup.id %>/restore">
          <button type="submit">Restore</button>
        </form>

        <form method="post" action="/backups/<%= backup.id %>"> 
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    </ul>
  <% end %>
</div>